[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "example1/themes/ananke"]
	path = example1/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
